<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todaily</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
    </style>
</head>
  <body>
    <form class="container" action="/posts" method="post" enctype="multipart/form-data">
      <div class="board">
        <input type="text" class="title" name="title" placeholder="Title" required>
        <hr>
        <textarea class="text" name="text" placeholder="내용을 입력하세요." required></textarea>
        <div style="float: right;">
          <label for="image" />
          <input type="file" name="image" alt="image" accept="image/*" />
        </div>
      </div>
      <div class="controlMenu">
        <input type="submit" name="save" alt="save">
        <a type="button" name="exit" alt="exit" href="http://localhost:3000/posts"></a>
      </div>
    </form>
    <script type="text/javascript" src="/javascripts/posts.js"></script>
  </body>
</html>
