<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todaily</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
    </style>
</head>
  <body>
    <div class="container">
      <div class="board">
          <div class="title" name="title"><%= title %></div>
          <hr>
          <% if (image) { %>
            <img name="image" alt="image" width="900" src="/images/posts/<%= image %>"> 
          <% } %>
          <div class="text" name="text"><%= text %></div>
      </div>
      <div class="controlMenu">
        <a name="write" alt="write" href="http://localhost:3000/posts/modify/<%=id%>"></a>
        <a name="exit" alt="exit" href="http://localhost:3000/posts"></a>
      </div>
    </div>
    <script type="text/javascript" src="/javascripts/posts.js"></script>
  </body>
</html>